/* media query */

@media (max-width: 767px) {
    .section-title {
        padding-top: 80px;
        font-size: 24px;

        &::after {
            content: "";
            width: 130px;
        }
    }
    .section-description {
        padding: 40px 40px 80px 40px;
        font-size: 16px;
    }

    /* header */

    header {
        height: auto;
        nav {
            display: block;

            .mache {
                display: block;
                font-size: 14px;
            }
        }

        /* menu */ /* !!!!!!!!!!!!!!!!!!!!!!!!! */
        .menu {
            display: none;
        }
    }

    /* jumbotron */

    .jumbotron {
        h1 {
            margin-top: 10px;
            font-size: 18px;
            font-weight: 100;

            span {
                font-weight: 600;
            }
        }

        p {
            font-size: 14px;
            line-height: 18px;
        }

        button {
            margin-top: 40px;
            height: 40px;
            font-size: 12px;
            line-height: 28px;
            margin-bottom: 60px;
        }
    }

    /* line before */

    .line {
        margin-top: -27px;
        &::before {
            content: "";
            height: 5vh;
            width: 100%;
        }
    }

    /* first section powerfull psd */

    .first-section {
        padding-top: 100px;
        height: 650px;

        .information {
            width: 100%;
            h2 {
                font-size: 24px;
            }
        }

        .mcbook {
            display: none;
        }

        .screen-content > img {
            display: none;
        }
    }

    /* sectoin services - circle */

    .icons {
        margin: 10px 50px auto;
        width: 120px;
        height: 120px;
        border: 1px solid rgb(207, 207, 207);
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        padding-top: 25px;
        background: white;
        h4 {
            margin: 0 auto;
            padding-top: 75px;
            margin-bottom: 80px;
            padding-right: 15px;
            text-transform: uppercase;
            font-size: 16px;
            color: #ed145b;
            font-weight: bold;
            white-space: nowrap;
            word-spacing: 2px;
        }
    }

    /* sectoin services - circle */

    .icons {
        margin: 70px auto;
        text-align: center;
        display: block;
        background: white;

        h4 {
            margin: 0;
            padding-top: 65px;
            padding-bottom: 20px;
            padding-right: 0;
            font-size: 14px;
        }
    }

    /* section quot */

    .quotation-marks {
        margin-top: 80px;
        height: 530px;

        .quot {
            display: block;
            text-align: center;
            .text > p {
                text-align: center;
                font-size: 14px;
                padding: 2px;
                margin-top: 25px;
                &::before {
                    display: none;
                }
                &::after {
                    display: none;
                }
            }
        }
        .quote {
            p {
                font-size: 60px;
                line-height: 40px;
            }
        }
    }

    /* section cards */

    .cards-info {
        display: block;
        width: 100%;
        .box {
            width: 200px;
            margin: 0 auto;
            margin-bottom: 400px;
            padding-top: 0;

            &:nth-child(2) {
                background: #ed145b;
            }
            p {
                color: white;
                font-size: 18px;
            }
            .month {
                font-size: 14px;
            }
            .button {
                z-index: 3;
                width: 150px;
                height: 40px;
                font-size: 12px;
                font-weight: 0;
                transition: 0;
                &:hover {
                    transform: none;
                }
            }
        }

        .info-cards {
            margin-bottom: 200px;
            p {
                margin-top: 25px;
                font-size: 14px;
                color: rgb(95, 95, 95);
            }
            .btn {
                width: 150px;
                height: 40px;
                font-weight: 0;
                margin-top: 40px;
                transition-duration: 0.3s;
                outline: none;
                cursor: pointer;
                &:hover {
                    transform: none;
                }
                p {
                    text-align: center;
                    padding-top: 5px;
                    margin: 0 auto;
                    color: white;
                    font-size: 12px;
                }
            }
        }
    }

    /* section overview */

    .overview {
        padding-top: 10vh;
        text-align: center;
        width: 100%;

        .icon-customer {
            position: relative;
            img {
                width: 30px;
                height: 30px;
                position: absolute;
                top: 20px;
                left: 205px;
                bottom: 0;
            }
        }
    }

    /* section join-us */
    .join-us {
        width: 100%;
        p {
            width: 100%;
            text-align: left;
            font-size: 18px;
            margin-top: 35px;
            letter-spacing: 1px;
            margin-left: 22px;
        }

        button {
            display: none;
            .btn-join {
                width: 20%;
            }
        }
    }

    /* section jumbotron */
    .jumbotron-last {
        height: auto;
        .text {
            margin: 0 auto;
            text-align: center;
            h2 {
                margin-top: 50px;
                margin-bottom: 50px;
                font-size: 24px;
            }
            p {
                font-size: 14px;
                line-height: 18px;
                text-align: justify;
                padding: 15px;
            }
            button {
                margin-top: 20px;
                margin-bottom: 30px;
                height: 40px;
                padding: 0 30px;
                font-size: 12px;
                transition-duration: 0;
                &:hover {
                    transform: scale(0);
                }
            }
        }
    }

    /* section template style */

    .template-style {
        display: block;
        margin-top: 30px;
        img {
            display: none;
        }

        h2 {
            margin-top: 45px;
            font-size: 24px;
        }
        p {
            font-size: 14px;
            color: rgb(53, 52, 52);
        }

        button {
            margin-top: 50px;
            height: 40px;
            padding: 0 30px;
            transition-duration: 0;
            &:hover {
                transform: scale(0);
            }
        }
    }

    /* section footer */

    footer {
        width: 100%;
        height: 120px;
        display: block;
        margin-top: 70px;
        padding-top: 10px;
    }
    .footer {
        p {
            text-align: left;
            font-size: 12px;
            color: white;
            padding-top: 10px;
            text-transform: uppercase;
        }

        .copyright {
            justify-content: start;
            text-align: left;
        }
        .symu {
            justify-content: start;
            text-align: left;
        }

        .text-decoration {
            color: red;
            font-size: 14px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* header */

    header {
        nav {
            .logo {
                .logo-graphic {
                    font-size: 20px;
                }
                .mache {
                    font-size: 20px;
                }
            }
        }
    }

    /* jumbotron */

    .jumbotron {
        h1 {
            margin-top: 80px;
            margin-bottom: 50px;
            font-size: 22px;
        }
        p {
            font-size: 18px;
            line-height: 28px;
        }
        button {
            margin-top: 40px;
            height: 40px;
            padding: 0 40px;
            transition-duration: 0s;
            &:hover {
                transform: scale(0);
            }
        }
    }

    /* line before */

    .line {
        margin-top: -20px;
    }

    /* first section powerfull psd */

    .first-section {
        padding-top: 100px;
        height: 550px;

        .information {
            width: 100%;
            h2 {
                font-size: 24px;
            }
            p {
                padding-top: 40px;
                font-size: 16px;
            }

            .video-icon {
                p {
                    font-size: 12px;
                }
            }
        }

        .mcbook {
            display: none;
        }
    }

    /* sectoin services - circle */

    .icons {
        margin: 5px 25px auto;

        h4 {
            font-size: 14px;
        }
    }

    /* section quot */

    .quotation-marks {
        margin-top: 100px;
        height: 450px;

        .quot {
            .text > p {
                font-size: 14px;
                padding: 0 140px 0 140px;
                &::before {
                    content: "<";
                    left: 60px;
                }
                &::after {
                    content: ">";
                    right: 60px;
                }
            }
        }
    }

    /* cards section */

    .cards-section {
        width: 100%;
        text-align: center;
    }

    .cards-info {
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;

        .box {
            margin: 30px auto;
            width: 280px;
            padding-top: 180px;
            height: auto;
            padding-top: 15px;
            p {
                margin: 0 auto;
                padding-top: 15px;
            }
            .button {
                transition-duration: 0s;

                &:hover {
                    transform: scale(0);
                }
            }
        }

        .info-cards {
            height: 350px;

            p {
                margin-top: 25px;
                line-height: 15px;
                font-size: 14px;
                color: rgb(95, 95, 95);
            }
            .btn {
                transition-duration: 0s;

                &:hover {
                    transform: scale(0);
                }
            }
        }
    }

    /* section overview */

    .overview {
        padding-top: 20vh;
        text-align: center;
        width: 100%;

        .customer {
            width: 200px;
            height: 200px;
            margin-right: 150px;
            h5 {
                font-size: 14px;
                margin-left: 60px;
            }
            p {
                text-align: left;
                margin: 0 -30px 20px 0;
                padding-left: 60px;
                font-size: 12px;
            }
        }
        .icon-customer {
            position: relative;
            img {
                width: 20px;
                height: 20px;
                position: absolute;
                top: 30px;
                left: 0px;
                bottom: 0;
            }
        }
    }

    /* section join-us */
    .join-us {
        p {
            font-size: 18px;
        }

        button {
            border-radius: 24px;
            width: 160px;
            height: 30px;
            position: absolute;
            right: 30px;
            margin-top: 30px;
            font-size: 14px;
            transition-duration: 0s;
            &:hover {
                transform: scale(0);
            }
            .btn-join {
                width: 20%;
            }
        }
    }

    /* section jumbotron */
    .jumbotron-last {
        .text {
            h2 {
                margin-top: 60px;
                font-size: 28px;
            }
            p {
                font-size: 14px;
                line-height: 18px;
            }
            button {
                margin-top: 50px;
                height: 40px;
                padding: 0 40px;
                font-size: 12px;
                transition-duration: 0s;
                &:hover {
                    transform: scale(0);
                }
            }
        }
    }

    /* section template style */

    .template-style {
        img {
            width: 100%;
            height: auto;
            margin-right: 0;
        }

        h2 {
            font-size: 24px;
        }
        p {
            font-size: 14px;
        }
        button {
            margin-top: 40px;
            height: 40px;
            padding: 0 40px;
            font-size: 12px;
            transition-duration: 0s;
            &:hover {
                transform: scale(0);
            }
        }
    }

    /* section footer */

    footer {
        height: 120px;
    }
    .footer {
        padding-top: -20px;
    }
    .symu {
        margin-top: 10px;
    }

    /* for all */

    .section-title {
        padding-top: 150px;
        margin: 0 auto;
        color: #5a5a5a;
        font-size: 32px;
        line-height: 28px;
        font-weight: 300;
        &::after {
            content: "";
            display: block;
            background-color: #ed145b;
            height: 2px;
            width: 180px;
            position: absolute;
            line-height: 40px;
            margin-top: 30px;
            text-align: center;
        }
    }
    .section-description {
        text-align: center;
        padding: 80px 150px 80px 150px;
        color: rgb(128, 125, 125);
        font-size: 18px;
        line-height: 30px;
        font-weight: 300;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    /* header */

    header {
        height: auto;
    }

    /* jumbotron */

    .jumbotron {
        h1 {
            margin-top: 130px;
            margin-bottom: 80px;
            font-size: 36px;
        }
        p {
            font-size: 18px;
        }
        button {
            margin-bottom: 60px;
        }
    }

    /* line before */

    .line {
        margin-top: -25px;
        &::before {
            content: "";
            height: 6vh;
        }
    }

    /* first section powerfull psd */

    .first-section {
        .mcbook {
            margin-top: 110px;
            width: 60%;
            position: relative;
            .laptop > img {
                height: 400px;
                width: 650px;
            }

            .screen-content > img {
                height: 345px;
                width: 490px;
                z-index: 2;
                transform: translate(80px, -383px);
            }
        }
    }

    /* section cards */

    .cards-info {
        .box {
            width: 100px;
            margin: 40px;
            height: 125px;
            padding-top: 15px;
        }
    }

    /* section overview */

    .overview {
        padding-top: 80vh;
    }

    /* section join-us */
    .join-us {
        button {
            right: 110px;
        }
    }

    /* section jumbotron */
    .jumbotron-last {
        height: auto;

        .text {
            h2 {
                margin-top: 20px;
            }
            button {
                margin-bottom: 80px;
            }
        }
    }
}
